body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
   }

   body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(120deg, #ff0000, #ffffff, #f0f2f5);
}
    
.welcome-text {
    text-align: center;
    font-size: 24px;
    color: #050505;
}
   .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
   }
   
   .logo {
    display: block;
    margin: 0 auto 20px;
    width: 100px;
    height: 100px;
   }
   
   form {
    display: flex;
    flex-direction: column;
   }
   
   input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
   }
   
   button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   }
   
   button:hover {
    background-color: #1563ea;
   }